.page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #121212;
}

.page-content {
    flex-grow: 1;
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-side {
    height: 100%;
    flex: .5;
}

.right-side {
    height: 100%;
    flex: .5;
}